* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins" , Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  
}

h2 {
  
}

h3 {
  
}

h4 {
  
}

h5 {
  
}

body {
  background-color: #F4F4F4;
  flex-grow: 1;
}

body a {
  color: #000000;
  text-decoration: none;
}

.text-calligraffitti {
  font-family: "Calligraffitti"; 
  font-size: 2rem;
}


img {
  min-width: 25px;
}
