* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins" , Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

body {
  background-color: #F4F4F4;
  flex-grow: 1;
}

body a {
  color: #000000;
  text-decoration: none;
}

.for-him h2 {
  font-family: "Calligraffitti"; 
}
.for-her h2 {
  font-family: "Calligraffitti";
}

img {
  min-width: 25px;
}
