* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins" , Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}



.for-him h2 {
  font-family: "Calligraffitti"; 
}
.for-her h2 {
  font-family: "Calligraffitti";
}

img {
  min-width: 25px;
}
