* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins" , Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

legend {
  font-size: 1.5rem;
  font-weight: bolder;
}



body {
  background-color: #F4F4F4;
  flex-grow: 1;
}

body a {
  color: #000000;
  text-decoration: none;
}

.text-calligraffitti span {
  font-family: "Calligraffitti"; 
  font-size: 2rem;
  display: block;
}




img {
  min-width: 25px;
}
