.welcome {
  background-image: url(/images/home-background.jpg);
  min-height: 85vh;
  background-size: cover;
  background-repeat: no repeat;
  background-position-x: center;
  background-position-y: center;
}

.shop-welcome {
  display: flex;
  justify-content: start;
  flex-direction: column;
  max-width: 400px;
  gap: 30px;
}

.shop-welcome h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.1;
}

.for-him {
  background-image: url(/images/resized/for-him.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: auto;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #686767;
  padding: 30px 40px;
  font-weight: bolder;
  font-size: 1.5rem;
  line-height: 1;
}

.for-her {
  background-image: url(/images/resized/for-her.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: auto;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #686767;
  padding: 30px 40px;
  font-weight: bolder;
  font-size: 1.5rem;
  line-height: 1;
}

.him-her-section {
  display: flex;
  gap: 20px;
  min-height: 40rem;
  max-width: 1440px;
  width: 1440px;
  width: 100%;
}



.signup_background {
  background-image: url(/images/blue-mountains.jpg);
  min-height: 637px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  display: flex;
}

.signup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 70px;
}

.signup-content h3 {
  font-size: 4rem;
  font-weight: bolder;
}

.about_image {
  background-image: url(/images/about-picture.jpg);
  min-height: 602px;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.contact_image {
  background-image: url(/images/resized/contact-us.jpg);
  min-height: 602px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;

}

/* Jackets for men */

.men_image {
  background-image: url(/images/men.jpg);
  min-height: 602px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  color: #ffffff;
}

.men-heading {
  display: block;
  flex-direction: row;
  max-width: 580px;
  padding: 30px;
}

/* Jackets for women */

.women_image {
  background-image: url(/images/women.jpg);
  min-height: 602px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  color: #ffffff;
}

.women-heading {
  display: block;
  flex-direction: row;
  max-width: 580px;
  padding: 30px;
}

/* Our jackets */



.exploring_image {
  background-image: url(/images/exploring.jpg);
  min-height: 310px;
  max-width: 310px;
  background-size: cover;
  background-repeat: no-repeat;
}

.camping_image {
  background-image: url(/images/camping.jpg);
  min-height: 310px;
  max-width: 310px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hiking_image {
  background-image: url(/images/hiking.jpg);
  min-height: 310px;
  max-width: 310px;
  background-size: cover;
  background-repeat: no-repeat;
}

.skiing_image {
  background-image: url(/images/skiing.jpg);
  min-height: 310px;
  max-width: 310px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

/* checkout-success */

.checkout-success {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #686767;
  max-width: 800px;
  display: block;
  text-align: center;
  padding: 80px 40px;
  margin: 150px;
  line-height: 50px;
}

.position:flex {
  display: flex;
  justify-content: center;
}

/* about */

.about-text {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #686767;
  padding: 30px;
}



 