.welcome {
  background-image: url(/images/home-background.jpg);
  min-height: 85vh;
  background-size: cover;
  background-repeat: no repeat;
  background-position-y: center;
}

.shop-welcome {
  display: flex;
  justify-content: start;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  gap: 30px;
  align-self: flex-start;
}

.shop-welcome h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.1;
}

.for-him_image,
.for-her_image {
  max-width: 100%;
  width: 100%;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #686767;
  display: block;
}

.homepage-teasers {
  flex: 1 1 20rem;
  position: relative;
}

.signup_background {
  background-image: url(/images/blue-mountains.jpg);
  min-height: 637px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  display: flex;
}

.signup-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.signup-content h3 {
  font-size: 4rem;
  font-weight: bolder;
}

/* about */

.about_image {
  background-image: url(/images/resized/about-picture.jpg);
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

/* contact */

.contact_image {
  background-image: url(/images/resized/contact-us.jpg);
  min-height: 602px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;

}

/* Jackets for men */

.men_image {
  background-image: url(/images/men.jpg);
  min-height: 602px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  color: #ffffff;
}

.men-heading {
  display: block;
  flex-direction: row;
  max-width: 580px;
  padding: 30px;
}

/* Jackets for women */

.women_image {
  background-image: url(/images/women.jpg);
  min-height: 602px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  color: #ffffff;
}

.women-heading {
  display: block;
  flex-direction: row;
  max-width: 580px;
  padding: 30px;
}

/* Our jackets */

.category-box {
  min-height: 310px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: #ffffff;
  position: relative;
}

.category-box::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.3;
}

.category-box > * {
  display: flex;
  z-index: 1;
}

.exploring_image {
  background-image: url(/images/resized/exploring.jpg);
}

.camping_image {
  background-image: url(/images/resized/camping.jpg);
}

.hiking_image {
  background-image: url(/images/resized/hiking.jpg);
}

.skiing_image {
  background-image: url(/images/resized/skiing.jpg);
}

/* checkout-success */

.checkout-success {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #686767;
  max-width: 1000px;
  width: 100%;
  display: block;
  text-align: center;
  padding: 80px 100px;
  margin: 150px;
  line-height: 50px;
}



/* about */

.about-text {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #686767;
  padding: 30px;
}


@media screen and (min-width: 1000px) {
  .shop-welcome {
    align-self: unset;
  }
}
 