.button {
  background-color: #18768D;
  border-radius: 3px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 1px #686767;
  max-width: 185px;
  width: 185px;
  height: 48px;
}

.secondary {
  background-color: #FAFAFA;
  color: #18778D;
  border-radius: 3px;
  border: solid 1px #18768D;
  text-transform: capitalize;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  width: 185px;
  height: 48px;
}

