input[type="text"] {
  padding: 5px 10px;
}

fieldset {
  border-style: none;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #686767;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.checkout-summary {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #686767;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.summary-layout {
  display: flex;
  justify-content: space-between;
}

.form-wrapper {
  display: flex;
  gap: 20px;
}

.form-wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.checkout_jacket-picture {
  width: 100px;
}

.added-to-cart {
  display: block;
  justify-content: space-between;
}

.added-to-cart > * {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.line {
  height: 1px;
  background-color: black;
}




.grid-container {
  display: grid;
  grid-template-columns: 2;
}

.grid-double-input {
  grid-column: 1/2 2/3;
  gap: 20px;
}

.grid-input {

}

