input[type="text"],
input[type="email"],
input[type="tel"]  {
  padding: 10px 15px;
  display: block;
  width: 100%;
}

.checkout-header {
  max-width: 1000px;
}

.checkout-login {
  margin: 20px 0px 60px 0px;
}

.fieldset-background {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 1px 2px #ababab;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

fieldset {
  border-style: none;
}

.checkout-summary {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 1px 2px #ababab;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.summary-layout {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr;
}

.checkout-summary .summary-layout {
  grid-template-columns: 27% 1fr;
}

.align-right {
  text-align: right;
}

.checkout-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 1000px;
  align-items: flex-start;
}

header .checkout-wrapper {
  margin-bottom: 0;
}

.sticky {
  position: sticky;
  top: 20px;
}

.added-to-cart {
  display: block;
  justify-content: space-between;
}

.added-to-cart > * {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.line {
  height: 1px;
  background-color: black;
}

.checkout-input,
.contact-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.input-long {
  grid-column: span 2;
}


/* contact */

.contact-info {
  margin: 20px 0px;
}

.contact-map {
  display: block;
  margin: 0 0 20px;
  max-width: 80%;
}

.contact-wrapper {
  flex: 1 1 350px;
  max-width: 700px;
  align-self: flex-end;
}

textarea {
  height: 94px; 
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}


@media screen and (min-width: 769px) {
  
  .checkout-wrapper {
    grid-template-columns: 1fr 40%;
  }

}