input[type="text"] {
  padding: 5px 10px;
}

fieldset {
  border-style: none;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #686767;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.checkout-summary {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #686767;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2;
}

.grid-double-input {
  grid-column: 1/2 2/3;
  gap: 20px;
}

.grid-input {

}

