input[type="text"],
input[type="email"],
input[type="tel"]  {
  padding: 10px 15px;
  display: block;
  width: 100%;
}

.checkout-login {
  margin: 20px 0px 60px 0px;
}

fieldset {
  border-style: none;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #686767;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.checkout-summary {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #686767;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.summary-layout {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.checkout-wrapper {
  display: grid;
  grid-template-columns: 1fr 40%;
  gap: 20px;
  max-width: 1000px;
  align-items: flex-start;
  margin-bottom: 100px;
}

header .checkout-wrapper {
  margin: 0px;
}

.checkout_jacket-picture {
  width: 80px;
}

.sticky {
  position: sticky;
  top: 20px;
}

.added-to-cart {
  display: block;
  justify-content: space-between;
}

.added-to-cart > * {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.line {
  height: 1px;
  background-color: black;
}


.checkout-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.input-long {
  grid-column: span 2;
}





.grid-container {
  display: grid;
  grid-template-columns: 2;
}

.grid-double-input {
  grid-column: 1/2 2/3;
  gap: 20px;
}

.grid-input {

}

