.content-box {
    position: relative;
    max-width: 1440px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 40px;
}

section {
  display: flex;
  justify-content: center;
}