.content-box {
    position: relative;
    max-width: 1440px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

section {
  display: flex;
  justify-content: center;
}

.smaller-container {
  display: flex;
  max-width: 1000px;
}