.box {
  height: 10px;
  width: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.grey {
  background-color: #737373;
}

.turquoise {
  background-color: #3F8DA1;
}

.black {
  background-color: #232026;
}

.blue {
  background-color: #1874BD;
}

.red {
  background-color: #A41C1C;
}

.light-grey {
  background-color: #CDD2DF;
}

.yellow {
  background-color: #FAEA6E;
}

.green {
  background-color: #506B5C;
}

.orange {
  background-color: #FF7244;
}

.mustard {
  background-color: #C58A17;
}

.dark-blue {
  background-color: #203580;
}
.peach {
  background-color: #FF8653;
}
.pink {
  background-color: #F8B3B7;
}

.sky-blue {
  background-color: #366C92;
}

.light-green {
  background-color: #80998E;
}

.jacket_image {
  max-width: 181px;
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}