.category-container {
  flex: 1 1 auto;
  align-self: flex-start;
}

.product-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 20px;
  width: 100%;
}

.product-card {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #686767;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 0 300px;
  height: 100%;
}


.product-window {
  background-color: #F4F4F4;
  width: 100%;
  height: 210px;
  padding: 10px;
  position: relative;
  text-align: center;
}

.jacket_image {
  max-width: 100%;
  max-height: 100%;
}

.product-window .heart-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.product-detail-card {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #686767;
  padding: 25px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.product-image-gallery {
  flex: 1 1 20rem;
}

.product-image {
  display: flex;
  justify-content: center;
  background-color: #F4F4F4;
  padding: 20px;
}



.product-card-color,
.product-card-size,
.product-card-estimated {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-card-size p {
  background-color: #EAEAEA;
  min-width: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 7px;
}

.product-card-color div {
  min-width: 40px;
  width: 40px;
  height: 40px;
}

.scroll-bar {
  overflow-x: auto;
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
}

/* filter */

.filter {
  background-color: #E3EBED;
  height: 100%;
  gap: 20px;
  padding: 20px 20px 20px 20px;
  width: 20rem;
  align-self: flex-start;
  flex-direction: column;
  display: none;
}

.filter input {
  margin-right: 20px;
}

.filter ul li {
  display: flex;
  align-items: center;
  
}

.box {
  height: 13px;
  width: 13px;
}

.filter .box {
  height: 13px;
  width: 13px;
  margin-right: 20px;
}

aside ul {
  flex: auto;
  list-style: none;
  gap: 10px;
  padding: 20px;
  background-color: #ffffff;
  padding-inline-start: 20px;
}

.product-card .box {
  height: 10px;
  width: 10px;
  border: 1px solid black;
}



.grey {
  background-color: #737373;
}

.turquoise {
  background-color: #3F8DA1;
}

.black {
  background-color: #232026;
}

.blue {
  background-color: #1874BD;
}

.red {
  background-color: #A41C1C;
}

.light-grey {
  background-color: #CDD2DF;
}

.yellow {
  background-color: #FAEA6E;
}

.green {
  background-color: #506B5C;
}

.orange {
  background-color: #FF7244;
}

.mustard {
  background-color: #C58A17;
}

.dark-blue {
  background-color: #203580;
}

.peach {
  background-color: #FF8653;
}

.pink {
  background-color: #F8B3B7;
}

.sky-blue {
  background-color: #366C92;
}

.light-green {
  background-color: #80998E;
}

.rose {
  background-color: #B0636B;
}

.jacket-product_image {
  max-width: 600px;
  width: 100%;
}

.jacket-detail_image {
  max-width: 100px;
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

/* product page-details */

.product-details {
  display: block;

}

.product-details li {
  margin-left: 20px;
}


@media screen and (min-width: 769px) {
  .filter {
    display: flex;
  }
}